body {
    font-family: Arial;
    margin: 20px;
}
input, button {
    margin: 5px;
}
.cliente {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.titulo{
    color: black;
    font-size: 15px
}
.subtitulo{
    color: darkcyan;
    font-size: 15px;
}